

@font-face {
    font-family: 'gothampro';
    src: url('../fonts/GothamProBold.woff') format('woff');         
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'gothampro';
    src: url('../fonts/GothamProLight.woff') format('woff');      
    font-weight: 300;
    font-style: normal;
    

}




@font-face {
    font-family: 'gothampro';
    src: url('../fonts/GothamProLightItalic.woff') format('woff');         
    font-weight: 300;
    font-style: italic;
    

}




